<% title('سياسة الخصوصية') %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="terms-of-service">
        <h1 class="text-center">سياسة خصوصية <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span></h1>
        <p class="text-center"><small>فبراير 15، 2016</small></p>
        
        <br>
        
        <p class="lead">بيانات المستخدم:</p>
        
        <p class="tab text-justify">عند إنشاء حساب، سنقوم بجمع معلومات شخصية عنك قد لا تكون مهمة بشكل كبير، كل هذه المعلومات ستكون سرية ولا يمكن لأحد الوصول إليها.</p>
        
        <p class="tab text-justify"><em>ملاحظة بخصوص من هم تحت شن 13 سنة: نحن لا نقوم بجمع معلومات مِن مَن هُم تحت سن 13 سنة وإن إكتشفنا ذلك فسنقوم بحذف هذه المعلومات من قاعدة بياناتنا بأسرع وقت ممكن.</em></p>
        
        <br>
        
        <p class="lead">معلومات الروابط:</p>
        
        <p class="tab text-justify">نقوم في <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> بجمع معلومات عن الروابط التي تقوم بإختصارها، من المعلومات الرابط قبل الإختصار والرابط بعد الإختصار كذلك وقت وتاريخ إختصار الرابط كذلك عند مشاركة الرابط الذي قمت بإختصاره نقوم بالإحتفاظ بعدد الزيارات لهذا الرابط من كل المستخدمين.</p>
        
        <br>
        
        <p class="lead">الإحصائيات والتحليلات:</p>
        
        <p class="tab text-justify">نجمع في <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> معلومات حول الروابط (مثل النقرات) من كل شخص يقوم بإختصار رابط معيّن، وتشمل هذه المعلومات وليس على سبيل الحصر: عنوان IP للأجهزة التي تستخدم خدماتنا، وقت وتاريخ كل وصول. وتستخدم هذه المعلومات من قبل <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> اتحسين جودة الخدمه وزيادة متعة التجربة للمستخدم.</p>
        
        <br>
        
        <p class="lead">محتوى المستخدم:</p>
        
        <p class="tab text-justify">بعض خدماتنا توفر لك أمكانية وضع وصف للرابط الذي تقوم بإختصاره أو تسميته بشيء معين، كل هذا المحتوى يتم تخزينه في قواعد بيانات <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> حتى بعد إنهاء حسابك.</p>
        
        <br>
      </div>
    </div>
  </div>
</div>