<% title('شروط الإستخدام') %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="terms-of-service">
        <h1 class="text-center">شروط إستخدام <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span></h1>
        <p class="text-center"><small>فبراير 15، 2016</small></p>
        
        <br>
        
        <p>يرجى قراءة شروط الخدمة هذه (بالإضافة إلى سياسة الخصوصية [<a href="http://www.ekhtsr.in/pages/privacy_policy" target="_blank">http://www.ekhtsr.in/pages/privacy_policy</a>]) بشكل كامل وبحذر قبل إستخدام الخدمة ومميزاتها، من خلال الموقع، الإضافات أو أي تطبيق أخر. مجموعة الشروط هذه ملزمة لمن يستخدم الخدمة.</p>
        
        <br>
        
        <p class="lead">1. قبول الشروط</p>

        <p class="tab text-justify">أ. من خلال تسجيلك في/أو إستخدام الخدمة بأي شكل من الأشكال، بما في ذلك زيارة، تصفح وإستخدام الخدمة لإختصار الروابط ("URL")، انت توافق على شروط الخدمة وجميع العمليات، الخصوصية والإجراءات التي من الممكن أن يتم نشرها على <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> من وقت لأخر، والتي يمكن تحديثها بالرجوع إلى المستخدم أو تحديث البعض الأخر من وقت لأخر دون الرجوع لأي شخص.</p>
        
        <p class="tab text-justify">ب. بعض الخدمات في <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> قد تخضع لشروط إضافية من وقت لأخر؛ إستعمالك لهذه الخدمات يخضع لتلك الشروط الإضافية، والتي يتم دمجها في شروط هذه الخدمة.</p>
        
        <p class="tab text-justify">ج. شروط الخدمة هذه تُطبق على جميع المستخدمين، بالإضافة، وبدون تحديد، المستخدمين اللذين ساهموا في المحتوى، جمع المعلومات وكل موارد الخدمة الاخرى كالتسجيل أو غيره.</p>
        
        <br>
        
        <p class="lead">2. التعديل</p>
        
        <p class="tab text-justify">يحتفظ <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> بالحق، في تقديرنا، لتعديل أو إزالة أي من شروط الخدمة هذه أو تغيير، تعليق أو إيقاف الخدمة (بالإضافة ودون تحديد، إمكانية الوصول إلى أي ميزة، قاعدة بيانات أو محتوى) في أي وقت عن طريق نشر تنبيه من خلال الخدمة. يمكن لـ <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> أيضا فرض المحدودية على بعض مميزات الخدمة أو حصر الوصول إلى بعض اجزاء الخدمة بدون تنبيه مسبق. كذلك هي مسؤوليتك للتأكد من أي تغيير على شروط الخدمة هذه وإستخدامك للخدمة بعد نشر اي تعديلات يعني موافقتك على التعديلات.</p>
        
        <br>
        
        <p class="lead">3. إمكانية الإستخدام</p>
        
        <p class="tab text-justify">أنت تقر وتضمن أن عمرك لا يقل عن 13 سنة، إذا كنت أصغر من 13 سنة، لا يجوز لك، تحت أي ظرف من الظروف، إستخدام الخدمة, <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> وفقًا لتقديرنا، قد يرفض تقديم الخدمات إلى أي شخص أو كيان وتغيير معايير إمكانية الإستخدام في أي وقت. انت وحدك المسؤول عن ضمان شروط الخدمة هذه والإمتثال لجميع القوانين، القواعد واللوائح المعمول بها.</p>
        
        <br>
        
        <p class="lead">4. التسجيل</p>
        
        <p class="tab text-justify">في حين أن بعض مميزات الخدمة متاحة للمستخدمين غير المسجلين، ولكن للوصول الكامل للخدمة يجب أن تقوم بالتسجيل في <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> (إنشاء "حساب"). من اجل التسجيل، يجب عليك إختيار اسم مستخدم فريد واختيار سؤال أمان لإسترجاع كلمة المرور من خلاله في حال نسيانها، كما انه متاح لك تعديل بياناتك في أي وقت أردت فيه ذلك. فيما يتعلق بأسماء المستخدمين، لا يجب عليك (i) إختيار أو إستخدام، كاسم مستخدم، اسم شخص أخر بقصد إنتحال شخصية هذا الشخص؛ (ii) إختيار أو إستخدام، كاسم مستخدم، اسم من حقوق شخص او أي كيان أخر لا ينتمي لك دون إذن مناسب أو (iii) إختيار أو إستخدام، كاسم مستخدم، اسم يمثل هجوم، مبتذل او بذيئ.</p>
        
        <br>
        
        <p class="lead">5. أمن الحساب</p>
        
        <p class="tab text-justify">انت وحدك المسؤول عن النشاط الذي يحدث في حسابك، والحفاظ على أمان حسابك. لا يسمع لك بإستخدام حساب آخر دون إذن. يجب أن تخاطبنا فورًا بأي خرق لأمن حسابك قد يصادفك. يجب أن لا تنشر أو توزع معلومات تسجيل الدخول الخاصة بك.</p>
        
        <br>
        
        <p class="lead">6. خدمات <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span></p>
        
        <p class="tab text-justify">خدمة <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> تمكنك من إختصار الروابط بإستخدام نطاق ekhtsr.in بمثابة رابط. بإلتزامك بشروط الخدمة هذه فإنه يمكنك إستخدام <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> إستخدام شخصي أو لأغراض غير تجارية. رجاءًا <a href="/#contact">تواصل معنا</a> إذا كنت تريد إستخدام الخدمة لعملك.</p>
        
        <br>
        
        <p class="lead">7. إحصائيات <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span></p>
        
        <p class="tab text-justify">بعض المميزات الموجودة في خدمات <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> تسمح بجمع الإحصائيات وإجراء التحليلات المتعلقة بالروابط التي تم إختصارها بإستخدام الخدمة، وتحليلات أخرى تتعلق بإستخدام خدمات <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span>، تشمل هذه الإحصائيات على (وليس حصرًا):</p>
        
        <p class="tab text-justify">
          - تاريخ جميع الروابط المختصرة من قبل الحسابات الشخصية.<br>
          - النقرات التي تمت على الروابط المختصرة.<br>
          - الإحالات التي تمت إلى الروابط المختصرة.<br>
          - عرض أي من الإحصائيات السابقة أو غيرها بشكل كامل.
        </p>
        
        <p class="tab text-justify">وانت تقر وتوافق على ان جميع إحصائيات <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> التي يتم جمعها و/أو ولّدت هي مملوكة لـ <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span>، وأن <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span> لديه الحق في إستخدام، ترخيص، بيع أو التصرف فيها لأي سبب من الأسباب.</p>
        
        <br>
        
        <p class="lead">8. التواصل</p>
        
        <p class="tab text-justify">يمكنك التواصل مع <span class="sq-orange">"</span>إختصرني<span class="sq-orange">"</span>: بواسطة <a href="/#contact">الموقع مباشرة</a> او عن طريق البريد الإلكتروني <a href="mailto:ekhtsr.in@gmail.com">ekhtsr.in@gmail.com</a>.</p>
        
        <br>
      </div>
    </div>
  </div>
</div>