<% title("نعتذر منك عزيزي الزائر، ولكن حدث خطأ ما (500)") %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
      <div class="internal-server-error">
        <div class="panel panel-default" style="margin-bottom: 10px;">
          <div class="panel-heading">
            <h4 class="panel-title">نعتذر منك عزيزي الزائر، ولكن حدث خطأ ما</h4>
          </div>

          <div class="panel-body">
            <p class="msg">إذا لاحظت تكرار ظهور هذه الرسالة، نتمنى منك مراسلتنا وإبلاغنا بهذا الأمر.</p>
          </div>
        </div>

        <p><a href="/" target="_blank" style="float: left !important;">العودة إلى الموقع</a></p>
      </div>
    </div>
  </div>
</div>