<% title("الصفحة التي تبحث عنها غير موجودة (404)") %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
      <div class="page-not-found">
        <div class="panel panel-default" style="margin-bottom: 10px;">
          <div class="panel-heading">
            <h4 class="panel-title">الصفحة التي تبحث عنها غير موجودة</h4>
          </div>

          <div class="panel-body">
            <p class="msg">ربما قد أخطأت في كتابة رابط الصفحة أو أنه قد تم نقل الصفحة إلى رابط أخر.</p>
          </div>
        </div>

        <p><a href="/" target="_blank" style="float: left !important;">العودة إلى الموقع</a></p>
      </div>
    </div>
  </div>
</div>