<% title('كلمة مرور الرابط') %>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
      <div class="dashboard" style="padding-top: 20px !important;">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="url-password-form">
              <div class="panel panel-default" style="margin-bottom: 5px;">
                <div class="panel-heading">
                  <h4 class="panel-title">كلمة مرور الرابط</h4>
                </div>
                
                <div class="panel-body">
                  <p>الرابط الذي تحاول الوصول إليه تم وضع كلمة مرور له، يرجى إدخالها:</p>
                  
                  
                  <%= form_tag({action: :password_go}, {method: :get, id: 'url_password'}) do %>
                    <%= text_field_tag :password, nil, autofocus: :true, placeholder: 'أدخل كلمة المرور', class: 'form-control txt-main', maxlength: 100 %>
                  <% end %>
                </div>
                
                <div class="panel-footer">
                  <button type="submit" class="btn btn-main btn-md" form="url_password" onclick="$('#url_password').submit();">ذهاب</button>
                </div>
              </div>
              
              <p><a href="/" target="_blank" style="float: left !important;">بواسطة إختصرني</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>