.user-edit-form, .admin-user-edit-form, .a-urls-list, .urls-list, .messages-list {
  padding-top: 73px;
  
  label, .btn-main {
    font-size: 1.5em;
  }
  
  .panel-title {
    font-size: 2.5em;
    line-height: 1.42857143;
    font-weight: 500 !important;
  }
}